*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    margin: 0 10px;
}

    header ul{
        display: inline;
        list-style: none;
        
    }
    header ul li{
        padding-right: 5px;
        margin: 0px;
        font-size: 2px;
    }
    header ul li a {
        color: white;
        text-decoration: none;
        font-size: 10px;
        

    }

header ul li {
    
    float: left;
}
.hero {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
}
.hero .hero-inner {
    position: relative;
    top: 50%;
    text-align: center;
    color: white;

}
.hero .hero-inner h1 {
    font-size: 15px;
}
.hero .hero-inner p {
    font-family: arial;
    font-size: 15px;
}

.services .Serv-Items {
    padding: 10px 25px;
    text-align: center;
    font-family: arial;
    color: #A0A5AB;
}

.services .Serv-Items h3{
    font-size: 15px;
}

.services .Serv-Items p {
    padding: 24px;
}
.services{
    padding-top: 24px;
    font-family: arial;
}

.Sign-Up{
    padding: 0px;
    text-align: center;
    background-color: #F8F8F8
}

.Sign-Up h2 {
    font-size: 50px;
    color: #A0A5AB;
}
.Sign-Up p{
    margin: 0 20px 20px 20px;
    font-size: 20x;
    color: #A0A5AB;
}

.Sign-Up img {
width: 100%;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
margin-top: 15px;
}

.Sign-Up h2 {
    padding: 30px 0;
    font-size: 15px;
    color: #393939;
}

.Sign-Up p {
    font-family: serif;
    padding-bottom: 30px;
    color: #393939;

}

.Sign-Up button{
    width: 220px;
    padding: 5px 20px;
    background-color: #ECA052;
    margin-top: -9px;    
    margin-bottom: 20px;
    height: 60px;
    color: white;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    border: #ECA052;
    text-decoration: none;
}

.Comments {
    margin: 30px 0 0 0;
    padding: 30px 0;
}

.Comments p {
    padding: 20px 20px 0px 20px;
    margin: 20px 0;
    color: #A0A5AB;
}

.Comments h4 {
    padding: 5px 20px;
    color: #A0A5AB ;
}

.Comments h2 {
    padding: 30px 0;
    text-align: center;
    font-size: 20px;
    margin-top: -36px;
    color: #A0A5AB;
}

.Comments .Comm-Inner{
    background-color:#F8F8F8;
}

.Comments .Comm-Inner .Comm-Items h2{
    text-align: center;
    background-color:#F8F8F8;
    padding: 20px;
}

.Subscribe{
    background-color: #ECA052;
    text-align: center;
    font-family: arial;
}
.Subscribe h2 {
    padding: 40px 0 20px 0;
    color: white;
}

.Subscribe .newsletter #name{
    background-color: white;
    margin-bottom: 50px;
    padding: 10px 20px;
    border-radius: 20px 0 0 20px;
    width: 100px;
    height: 40px;
    border: none;
    text-align:left;
    
}

.Subscribe #email{
    background-color: white;
    margin-bottom: 50px;
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
    width: 100px;
    height: 40px;
    border: none;
    text-align:left;
    
}

.footer{
    text-align: center;
    background-color: #393939;
    padding: 15px;
    color:  #A0A5AB;
}

.footer img{
    margin-bottom: 20px;
}
.footer ul li{
    display: inline;
    align-items: flex-end;
    color: #A0A5AB;
    font-family: sans-serif;
    text-decoration: none;
}

.Subscribe .aa{
    background-color: #393939;
    padding: 10px 20px;
    text-align: center;
    border-radius: 40px;
    text-align: center;
    color: white;
    border: none;
}

.footer ul li a
{
     color: #A0A5AB; 
     text-decoration: none;
     font-family: 'Times New Roman', Times, serif; 
     font-size: 10px;
}


.footer hr{
    height: 2px;
    width: 200px;
    margin:0 auto;
    margin-top: 10px;
    background-color: rgb(53, 52, 52);
    border: none;
}

.footer p{
    padding: 30px 0 50px 0;
    color: #A0A5AB;
    margin-top: 10px;
    font-size: 12px;
    font-family: sans-serif; 
}
@media (min-width: 568px) {
    header ul{
        display: flex;
        justify-items: space-between;
        float: right;}

header ul li {
display: inline;

}
header ul li a{font-size: 18px;
font-family: sans-serif;
margin: 0 10px;
text-decoration: none;
color:white;
}
.services .Serv-Items {
    padding: 0 30px;
}

.Sign-Up img {
    width: 100%;
}

.Sign-Up p {
    padding: 0 30px 30px 30px;
}

.Sign-Up a {
    margin: 40px 0 0 0;
}
.Comments {
    margin:  10px;
}

.footer ul li a {
    font-size: 15px;
    margin: 10px;

}
}

@media (min-width: 768px) {

    header ul {
        display: flex;
    }

    header ul li {
        display: inline;
    }

    header ul li a{
        font-size: 20px;
        font-family: sans-serif;
        
    }

    .hero {    
    background-position: center center;
    height: 660px;
    width: 100%;
    overflow: hidden;
    }

    .hero .hero-inner h1{
        font-size: 35px;
    }

    .hero .hero-inner p {
        font-size: 25px;
    }

    .services{
        display: flex;
    }

    .services .Serv-Items h3{
        margin-top: 30px;
        font-size: 24px; 
        color: #A0A5AB;
    }
    
    .services .Serv-Items p {
        margin: 10px;
        font-size: 20px;
    }

    .Sign-Up img{
        width: 50%;
    }
    .Sign-Up p{
        font-size: 20px;
        padding: 0 60px 15px 60px ;
    }

    .Sign-Up h2{
        font-size: 20px;
    }
    .Comments{
        text-align: center;
    }

    .Comments .Comm-Inner{
        display: flex;
        padding: 5px;
        font-size: 20px;
        text-align: left;
    }
    .Comments .Comm-Inner p{
        margin-left: 5px;
        padding: 15px;
    }

   
}

@media (min-width: 992px) {

    .hero .hero-inner h1 {
        font-size: 45px;
    }
    .hero .hero-inner p {
        font-size: 35px;
    }


    header img {
        width: 65px;
    }
    header ul li a {
        color: white;
        text-decoration: none;
        font-size: 20px;

    }
    .Sign-Up p{
        font-family: arial;
        padding-right: 75px;
        padding-left: 75px;
        color: #A0A5AB;
    }

    .Comments .Comm-Inner .Comm-Items p{
        padding: 22px;
    }
    .Subscribe .newsletter #name{
        background-color: white;
        margin-bottom: 50px;
        padding: 10px 20px;
        border-radius: 20px 0 0 20px;
        width: 150px;
        height: 40px;
        border: none;
        text-align:left;
        
    }
    
    .Subscribe #email{
        background-color: white;
        margin-bottom: 50px;
        padding: 10px 20px;
        border-radius: 0 20px 20px 0;
        width: 150px;
        height: 40px;
        border: none;
        text-align:left;
        
    }
    .footer img{
        width: 60px;
    }

    .footer ul li a {
        text-decoration: none;
        font-family: arial; 
        font-size: 25px;
}

.footer p {
    text-decoration: none;
    font-family: arial; 
    font-size: 15px;
}
    
}

@media (min-width: 1200px) {
    header {
        padding: 30px;
    }

    .hero .hero-inner h1 {
        font-size: 50px;
        font-family: cursive;
    }

    .hero .hero-inner p{
        font-size: 30px;
        font-family: cursive;
    }

    .services {
        margin: 50px 0;
    }
    .Sign-Up p{
        padding: 0 200px;
        margin-bottom: 50px;
        font-family: arial;
    }

    .Sign-Up img {
        padding-top: 5px;
        width: 45%;
    }

    .Sign-Up h2{
        font-size: 30px;
        font-family: arial;
    }

    .Sign-Up a {
        margin: 100px 0 0 0;
    }
    .Comments .Comm-Inner .Comm-Items h2{
        margin-top: 30px;
        padding: 50px 50px 80px 50px;
        
    }

    .Comments h2{
        font-size: 30px;
    }

    .Comments .Comm-Inner {
        margin: 0 35px 25px 35px;
        font-family: arial;
    }

    .Subscribe .newsletter #name{
        background-color: white;
        margin-bottom: 50px;
        padding: 10px 20px;
        border-radius: 20px 0 0 20px;
        width: 200px;
        height: 50px;
        border: none;
        text-align:left;
        
    }
    
    .Subscribe #email{
        background-color: white;
        margin-bottom: 50px;
        padding: 10px 20px;
        border-radius: 0 20px 20px 0;
        width: 200px;
        height: 50px;
        border: none;
        text-align:left;
        
    }

    .Subscribe h2{
        font-size: 40px;
    }

    .Sign-Up p{
        font-size: 20px;
    }

    .Subscribe .aa{
        height: 50px;
    }

    .footer hr{
        width: 500px;
    }

    .Comments .Comm-Inner .Comm-Items h4 {
        padding-bottom: 50px;
    }

    
}